In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB

In [10]:
df = pd.read_csv("titanic.csv")
df.drop(['PassengerId','Name','SibSp','Parch','Ticket','Cabin','Embarked'],axis='columns',inplace=True)
dummies = pd.get_dummies(df.Sex)
df = pd.concat([df,dummies],axis="columns")
df

     Pclass     Sex   Age     Fare  Survived  female   male
0         3    male  22.0   7.2500         0   False   True
1         1  female  38.0  71.2833         1    True  False
2         3  female  26.0   7.9250         1    True  False
3         1  female  35.0  53.1000         1    True  False
4         3    male  35.0   8.0500         0   False   True
..      ...     ...   ...      ...       ...     ...    ...
886       2    male  27.0  13.0000         0   False   True
887       1  female  19.0  30.0000         1    True  False
888       3  female   NaN  23.4500         0    True  False
889       1    male  26.0  30.0000         1   False   True
890       3    male  32.0   7.7500         0   False   True

[891 rows x 7 columns]