# Initialize CSV file

In [1]:
import pandas as pd 
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder
from sklearn import linear_model 
df = pd.read_csv("homeprices.csv")
df

               town  area   price
0   monroe township  2600  550000
1   monroe township  3000  565000
2   monroe township  3200  610000
3   monroe township  3600  680000
4   monroe township  4000  725000
5      west windsor  2600  585000
6      west windsor  2800  615000
7      west windsor  3300  650000
8      west windsor  3600  710000
9       robinsville  2600  575000
10      robinsville  2900  600000
11      robinsville  3100  620000
12      robinsville  3600  695000

## Dummies

In [20]:
dummies = pd.get_dummies(df.town)
merged = pd.concat([df,dummies],axis="columns")
final = merged.drop(["town","west windsor"],axis="columns")
final

    area   price  monroe township  robinsville
0   2600  550000             True        False
1   3000  565000             True        False
2   3200  610000             True        False
3   3600  680000             True        False
4   4000  725000             True        False
5   2600  585000            False        False
6   2800  615000            False        False
7   3300  650000            False        False
8   3600  710000            False        False
9   2600  575000            False         True
10  2900  600000            False         True
11  3100  620000            False         True
12  3600  695000            False         True

### Dummy columns train model

In [21]:
model = linear_model.LinearRegression()
X = final.drop("price",axis="columns")
Y = final.price
model.fit(X,Y)
model.predict([[3400,0,0]])

d:\Python\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([681241.66845839])

### Checking Model Accuracy

In [22]:
model.score(X,Y)

0.9573929037221872

### Level Encoding

In [23]:
LE = LabelEncoder()
dfle = df
dfle.town = LE.fit_transform(dfle.town)
X = dfle[['town','area']].values
Y = dfle.price.values
Y

array([550000, 565000, 610000, 680000, 725000, 585000, 615000, 650000,
       710000, 575000, 600000, 620000, 695000])

## OneHotEnCoding

In [25]:
from sklearn.compose import ColumnTransformer
ct = ColumnTransformer([('town', OneHotEncoder(), [0])], remainder = 'passthrough')
X = ct.fit_transform(X)
X = X[:,1:]
model.fit(X,Y)
model.predict([[0,1,3400]])

array([681241.6684584])