## Initializing

In [1]:
import pandas as pd
from sklearn import linear_model
df = pd.read_csv("carprices.csv")
dummy = pd.get_dummies(df[["Car Model"]])
merged = pd.concat([df,dummy],axis = "columns")
final=merged.drop(["Car Model","Car Model_Mercedez Benz C class"],axis ="columns")
final

    Mileage  Sell Price($)  Age(yrs)  Car Model_Audi A5  Car Model_BMW X5
0     69000          18000         6              False              True
1     35000          34000         3              False              True
2     57000          26100         5              False              True
3     22500          40000         2              False              True
4     46000          31500         4              False              True
5     59000          29400         5               True             False
6     52000          32000         5               True             False
7     72000          19300         6               True             False
8     91000          12000         8               True             False
9     67000          22000         6              False             False
10    83000          20000         7              False             False
11    79000          21000         7              False             False
12    59000          33000         5              False             False

## Model Train

In [22]:
Model = linear_model.LinearRegression()
X = final.drop("Sell Price($)",axis="columns")
Y = final[["Sell Price($)"]]
Model.fit(X,Y)
Model.predict([[45000,4,0,0]])
Model.score(X,Y)

d:\Python\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

0.9417050937281082